/****************** MOBILE FIRST ******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f3;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  padding-top: 4vw;
}

.footer_wrapper {
  background-color: #31628d;
  height: 6rem;
  display: flex;
  align-items: center;
}

address {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #c9cccf;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.5rem, 3.7vw - 1.1rem, 1.2rem);
  text-align: center;
}

address a {
  color: #c9cccf;
  margin: 0 auto;
}

/* generell button */
.button_container {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.button_container_left {
  display: flex;
  border: none;
  justify-content: revert;
}

.button_wrapper {
  background-color: #ecf0f3;
  width: auto;
  height: auto;
  box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  border-radius: 40px;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.button_wrapper a {
  color: #31628d;
  display: inline-block;
  font-size: clamp(0.6rem, 3.2vw - 1rem, 1rem);
}

/* fonts */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  color: #31628d;
  text-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  margin-top: 0;
}

h1 span {
  color: #152a3c;
  text-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(3rem, 10.7vw - 3.7rem, 3rem);
  color: #152a3c;
  margin-top: 0;
  text-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.8rem, 6.4vw - 2rem, 2rem);
  color: #152a3c;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.7rem, 1.2vw + 0.1rem, 1rem);
  opacity: 80%;
  color: #ecf0f3;
  font-weight: 100;
  font-style: normal;
}

h5 {
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  color: #31628d;
  font-size: 0.6rem;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.5rem, 3.7vw - 1.1rem, 1.2rem);
  color: #31628d;
  line-height: 1.3;
  padding-top: 1rem;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.5rem, 3.7vw - 1.1rem, 1.2rem);
  color: #31628d;
  text-align: center;
}
span {
  color: #152a3c;
}

header ul li {
  list-style: none;
  margin: 1vw;
}

header ul li a {
  text-decoration: none;
  color: #31628d;
  font-size: 1.25vw;
}

header {
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  overflow-x: hidden;
  background: #ecf0f3;
  box-shadow: 25px 25px 51px #c9cccf;
  height: 6rem;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: grid;
  text-align: end;
  padding-right: 1.5rem;
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
}

#menuknap {
  display: inline-block;
  font-size: 3rem;
  cursor: pointer;
  color: #31628d;
}

#menu li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.5rem, 3.7vw - 1.1rem, 1.2rem);
  color: #31628d;
  text-align: center;
  gap: 1rem;
  padding: 1.2rem;
}

/* Styler menuen  */
/* ved transform og transition, så gør jeg at de flyver ind fra siden, hvor den så tager 
udgangspunkt i top og left */
#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top right;
  z-index: 100;
}

#menu a {
  text-decoration: none;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin: 1rem;
  background-image: url(images/happy_memoji.png);
  background-size: cover;
}

.logo:hover {
  background-image: url(images/kiss_memoji.png);
  background-size: cover;
  transition: ease-in-out;
}

.neumorphism_card {
  display: block;
  position: relative;

  border-radius: 2rem;
  background: #ecf0f3;
  box-shadow: inset 3px 3px 7px #c9cccf, inset -3px -3px 7px #ffffff;
  padding: 5vw;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/******************* skill card *******************/
.skill_card_wrapper {
  /* gap: 1rem; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4rem;
}

.skill_card {
  display: block;
  position: relative;
  /* width: 50vw;
  height: 10rem; */
  border-radius: 2rem;
  background: #ecf0f3;
  box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  width: 20%;
  margin: 0.5rem;
}

.skill_card_logo {
  opacity: 30%;
  transition: ease-in-out;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(images/happy_memoji.png);
  background-size: cover;
  display: block;
}

.skill_icon {
  opacity: 30%;
  padding: 1.2rem;
}

/***************** gradient elipse *****************/
/* .elipse_gradient {
  position: relative;
  top: 0;
  left: 0;
  height: 35vw;
  width: 30vw;
} */

/***************** mockups of mobile/computer  **************/
.mockup_wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.mockup_mobile_web {
  position: relative;
  top: 0px;
  left: 0px;
  height: 30vw;
  width: auto;
}

.mockup_duo {
  position: relative;
  height: 17rem;
  width: auto;
}

/***************** barometer *****************/

.barometer {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: row;
  width: auto;
  height: auto;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  padding: 1rem;
}

.barometer_elm {
  background-color: #ecf0f3;
  height: auto;
  width: 20%;
  box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  border-radius: 40px;
  text-align: center;
  text-align: center;
  padding: 1rem;
}

#blue {
  background-color: #31628d;
}

#blue a {
  color: #c9cccf;
}
/***************** container around h1 and h2 on top of page *****************/
.h1_container {
  display: block;
  text-align: right;
  padding-top: 10vw;
}

.h1_container_left {
  display: block;
  text-align: left;
  padding-top: 10vw;
}

/* 04_animasjon  */

#game_iframe {
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  width: 900px;
  height: 506.25px;
}

.game_wrapper {
  display: flex;
  justify-content: center;
}

.my_game {
  display: none;
}

/* 05_innhold */
.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

/************* @MEIDA DESKTOP - her er alt som skjer når skjærmen er større enn 800px **************/
@media (min-width: 800px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }

  #menu li a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: clamp(0.5rem, 3.7vw - 1.1rem, 1.2rem);
    color: #31628d;
    text-align: center;
    padding: 1rem;
    background-color: #ecf0f3;
    box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
    border: none;
    border-radius: 40px;
  }

  header ul {
    display: flex;
    margin: 0px auto;
    align-items: center;
  }

  main {
    padding-top: 5rem;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .neumorphism_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    border-radius: 3rem;
  }

  .button_wrapper_nav:hover,
  .button_wrapper:hover,
  .barometer_elm:hover {
    box-shadow: inset 3px 3px 7px #c9cccf, inset -3px -3px 7px #ffffff;
  }

  /* .active {
    background-color: #ecf0f3;
    border: none;
    width: 10vw;
    height: 3vw;
    box-shadow: inset 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .col_1 {
    width: 50%;
  }

  .col_2 {
    width: 50%;
  }

  .col_2_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mockup_duo {
    height: 20rem;
  }

  /* .barometer {
    height: auto;
    width: 100%;
    padding-top: 2vw;
  } */

  .my_game {
    text-align: center;
    padding: 25px;
  }

  .h1_container {
    display: block;
    text-align: right;
    padding-top: 0vw;
  }

  .skill_card {
    border-radius: 3rem;
    flex: 20%;
  }

  .skill_card:hover {
    background-color: #31628d;
  }

  .skill_card_logo:hover {
    opacity: 100%;
    background-image: url(images/kiss_memoji.png);
    background-size: cover;
    transition: ease-in-out;
  }
}
